a.out
*.s
*.o
*.d
/tests/experiments
/tests/tests
/examples/three
/examples/asteroids
/examples/next
/examples/foreign
/tests/order1
/tests/order12
/tests/order2
/tests/order21
/tests/benchmarks
/doc/html
/doc/next
/doc/images
/doc/examples
/doc/reference.xml
